h1{
    text-align:center;
    font-size: 25px;
    color: crimson;
}
.outer{
    margin:10px 400px;
padding:20px;
    height:auto;
    width:500px;
    background-color:blue;
}
input{
    height:35px;
    width:200px;
    box-shadow:2px 2px 2px 2px green;
border-radius:2px;
margin:20px;
}
.sub{
    background-color:crimson;
    border-radius:2px;
    margin-left:40px;
     height:40px;
    width:100px;
    border-radius: 5px;

}

  
.sub:hover {
   box-shadow:2px 2px 2px 2px black;
}


li{
    margin:15px;
    font-size:18px;
    color:white;

}
.delete{
    background-color:aqua;
    border-radius:2px;
    margin-left:40px;
     height:40px;
    width:100px;
    border-radius: 5px;

}
.delete:hover{
    box-shadow:2px 2px 2px 2px black;

}
